{% extends "layout.html" %}

{% block title %}
Buy
{% endblock %}

{% block main %}
<div id="status" class="alert alert-danger" role="alert"></div>
<form id="formid" action="/buy">
    <div class="form-group">
        <input required autofocus class="form-control" name="symbol" placeholder="Symbol" type="text">
    </div>
    <div class="form-group">
        <input class="form-control" name="shares" placeholder="Shares" type="number" min=1>
    </div>
    <button required class="btn btn-primary" type="submit">Buy</button>
</form>

<script>

    form_AJAX($.post, $('#formid'), true, ['symbol', 'shares'], function (data) {
        if (data.redirect == false) {

            //  Display error message
            $('#status').css("display", "block");
            $('#status').text(data.msg);
        }

        // Redirect the user to Homepage
        else {
            window.location.replace("{{ url_for('index', _external = True) }}")
        }
    });
</script>
{% endblock %}