{% extends "layout.html" %}

{% block title %}
Quote
{% endblock %}

{% block main %}
<h3></h3>
<div id="status" class="alert alert-danger" role="alert"></div>
<form id="formid" action="/quote">
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="symbol" placeholder="Symbol" type="text">
    </div>
    <button class="btn btn-primary" type="submit">Quote</button>
</form>

<script>
    form_AJAX($.post, $('#formid'), true, ['symbol'], function (data) {

        //  Display error message
        if (data.code == 200) {
            $('h3').text(data.msg);
            $('#status').css("display", "none");
        }

        // Display API respone
        else {
            $('#status').css("display", "block");
            $('#status').text(data.msg);
            $('h3').text('')
        }
    });

</script>
{% endblock %}